@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E2ECF6;
}

#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
